.IP2 {
  background: #FAFAFA 0 0 no-repeat padding-box;
  padding: 5% 8%;

  .text-mid {
    padding: 0.5% 10%;
  }

  .IP2-image {
    padding: 3% 0;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
  }
}